<h2>Bonjour à toi cher entrepreneur !</h2>

<p>Le chemin de l'amour est long et sinueux, mais on peut au moins t'aider à réinitialiser ton mot de passe.</p>

<p>Pour cela, utilise le lien ci-dessous :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</a>

<p>Ce lien expirera dans 1h.</p>

<p>À bientôt sur Flazze !</p>
