<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Accueil dataApp</title>
</head>
<body>

  <div class="titre">
    <h1>
      Accueil de notre application </h1>  
  </div>

  <div class="main">
    <table border='1'>
    <tbody>
      <tr>
        <th colspan="2"> 
          Bienvenue sur dataApp ! <br> Pour commencer votre aventure avec nous, choisissez où aller </th>
      </tr>
      <tr>
        <td> 
          Profil recommandé </td>
        <td>
          Chercher un profil </td>
      </tr>
      <tr>
        <td>Messagerie</td> <td>Configuration</td> </tr>
    </tbody>
    </table>
  </div>

  <div class="deco">
    <a href="https://www.w3schools.com">Visit W3Schools</a> </div>

</body>
</html>